@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Montserrat:ital,wght@0,400;0,500;1,500&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700&family=Roboto:wght@300;400;500;700&display=swap");
:root {
  --white: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(120deg, #3ca7ee, #9b408f);
  background: linear-gradient(to right, #ffe000, #799f0c);
  min-height: 100vh;
}

.container {
  margin: 100px auto;
  width: 400px;
  border-radius: 6px;
  background-color: var(--white);
  overflow: hidden;
}

form {
  padding: 12px 20px;
  border-bottom: 1px solid #333;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

form input {
  font-size: 24px;
  width: 100%;
  margin-right: 16px;
  border: none;
  outline: none;
}

form button {
  font-size: 20px;
  padding: 4px 14px;
  border: none;
  outline: none;
  border-radius: 6px;
  background-color: yellowgreen;
  color: var(--white);
}

ul {
  display: block;
  width: 100%;
  list-style: none;
}

ul li {
  font-size: 20px;
  padding: 16px 20px;
  border-bottom: 1px solid #e5e5e5;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

li span {
  text-overflow: ellipsis;
  overflow: hidden;
}

li i {
  margin-left: 12px;
  cursor: pointer;
  color: #aaa;
  visibility: hidden;
  transition: all 0.25s;
}
li:hover i {
  visibility: visible;
}

.disabled {
  color: #b6b6b6;
  text-decoration-line: line-through;
}
